.btn_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0rem 2rem;
    margin-top: 3rem;
}

button {
    @include button;

    &:hover {
        background-color: rgb(172, 255, 146);
    }
}

button:disabled {
    background-color: grey;
}

#reset {
    padding: 0.8em;
    font-size: 1.2rem;
}

#message {
    color: white;
    text-align: center;
    padding: 2rem 0 0 0;
    transition: 500ms;
    color: rgb(0, 140, 255);
    opacity: 0;

}