.btn_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0em 2em;
    margin-top: 1.2em;
}

@media only screen and (max-width: 500px) {
    .btn_wrapper {
        padding: 0px;
    }

    #toggle,
    #increase,
    #decrease,
    #addLight,
    #removeLight {
        padding: 10px 25px;
        font-size: 15px;
        margin: 0;
    }

    #toggle {
        padding: 10px 60px;
    }

    .btn_wrapper {
        display: block;
        border: 3px solid orange;
        border-radius: 3px;
        padding: 5px;
        margin-top: 5px;
    }

}

button {
    @include button;

    &:hover {
        background-color: rgb(172, 255, 146);
    }
}

button:disabled {
    background-color: grey;
}

#reset {
    padding: 0.8em;
    font-size: 1.2rem;
    margin-top: 1em;
}

@media only screen and (max-width: 500px) {
    #reset {
        margin: 0px;
        padding: 10px;
        font-size: 90%;
        border: orange 3px solid;
    }
}

.row-btn {
    padding: 1.5em;
    font-size: 0.9rem;
    margin-top: 1em;
}

#message {
    color: white;
    text-align: center;
    padding: 2rem 0 0 0;
    transition: 500ms;
    color: rgb(0, 140, 255);
    opacity: 0;
}